<h1>New Booking</h1>

<div class="row">
  <div class="center-block col-md-4" style="float: none;">
    <div class="form">
      <%= simple_form_for [@boat, @booking] do |book| %>
      <%= book.input :start_date %>
      <%= book.input :end_date %>
      <!-- f.input :rating, collection: [0, 1, 2, 3, 4, 5] -->
      <%= book.submit "Confirm Booking", class: "btn-back" %>
      <% end %>
    </div>
  </div>
</div>
<!-- somewhere deep end -->
