<h1>New Booking</h1>

<%= simple_form_for [@boat, @booking] do |book| %>
  <%= book.input :start_date, id:'start_date' %>
  <%= book.input :end_date, id:'end_date'%>


<%= book.submit "Confirm Booking", class: "btn btn-primary" %>
<% end %>

<!--   <button id="calc" value="calc" action="#"></button>
<script>
  function calcBookingCost() {
  const calc = document.getElementById('calc');

  calc.addEventListener("click", (event) => {
    event.preventDefault();
    console.log(event);
    const start = document.getElementById('start_date').value;
    const end = document.getElementById('end_date').value;
    const calc2 = parseInt("calc", 10);
    const start2 = parseInt("start", 10);
    const days = calc2 - start2;
    const cost = days * @boat.price_per_day;
    });
  }
  calcBookingCost()
</script> -->
