.boat-container {
  border: 1px lightgrey;
  padding-left: 10px;
  padding-bottom: 50px;
  padding-top: 50px;
  background-color: snow;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

.container {
  padding-top: 20px;
}

h1 {
  padding-top: 10px;
  padding-bottom: 20px;
}

.map {
  margin-left: 20px;
  padding-top: 100px;
}


.boat-title {
  display: flex;
  color: #111;
  font-weight: bold;
  justify-content: left;
  padding-left: 20px;
  padding-bottom: 10px
}

.booking-details {
  display: flex;
  list-style-type: none;
  ul {
    padding-left: 0;
  }
  li {
    list-style-type: none;
  }
}

.btn-book {
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: bold;
  background: #469AE0;
  transition: background 0.5s ease;
  border-radius: 50px;
  border: none;
  a {
    text-decoration: none;
    color: white;
  }
}

.btn-book:hover {
  opacity: 1;
  background: #3F658A;
  text-decoration: none;
  color: white;
}


.btn-back {
  color: dimgray;
  border: 1px solid #ada9a9;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: lighter;
  transition: background 0.5s ease;
  a {
    text-decoration: none;
    color: #ada9a9;
  }
}

.btn-back:hover {
  background-color: #7a7979;
  opacity: 0.8;
  color: whitesmoke;
}

