.boat-container {
  border: 1px lightgrey;
  padding-left: 10px;
  padding-bottom: 50px;
  padding-top: 50px;
  background-color: snow;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

body {
  background-image: url("Background-boat.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  padding-top: 20px;
}

h1 {
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
}

.boat-title {
  display: flex;
  color: #111;
  font-weight: bold;
  justify-content: left;
  padding-left: 20px;
  padding-bottom: 10px;
  color: whitesmoke;
}

.booking-details {
  display: flex;
  list-style-type: none;
  color: whitesmoke;
  ul {
    padding-left: 0;
  }
  li {
    list-style-type: none;
  }
}

.info-list {
  color: whitesmoke;
}

.btn-book {
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: bold;
  background: #469AE0;
  transition: background 0.5s ease;
  border-radius: 50px;
  border: none;
  a {
    text-decoration: none;
    color: white;
  }
}

.btn-book:hover {
  opacity: 1;
  background: #3F658A;
  text-decoration: none;
  color: white;
}


.btn-back {
  display: flex;
  align-item: right;
  color: #aaa9a9;
  border: 1px solid #ada9a9;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.8;
  transition: background 0.5s ease;  text-align: center;
  a {
    text-decoration: none;
    color: #474545;
  }
}

.my-btn {
  color: #00004c !important;
  font-weight: 400;
}

.btn-back:hover {
  background-color: #7a7979;
}

.picture_map {
  display: flex;
}

.photo {
  margin-right: 25px;
}

.btn-review {
  margin-top: 10px;
  margin-left: 44px;
  display: flex;
  align-item: right;
  color: #3bf786;
  border: 1px solid #ada9a9;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.8;
  transition: all 0.5s ease;  text-align: center;
  a {
    text-decoration: none;
    color: #474545;
  }
}


.btn-review:hover {
 background-color: #7a7979;
 color: whitesmoke;
 transition: background 0.5s ease;  text-align: center;
}












