
<h1 align="center">Boats</h1>
<ul>

  <div class="container">
    <div class="row">
      <% @boats.each do |boat| %>
      <div class="col-xs-12 col-sm-4">
        <% if boat.photo.present? %>
        <% image = cl_image_path boat.photo, height: 300, width: 400, crop: :fill %>
        <% else %>
        <% image = image_path 'yacht.png' %>
        <% end %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image %>')">
          <div class="card-category">Luxury</div>
          <div class="card-description">
            <h2><%= boat.name %></h2>
            <p>Great boat to rent</p>
<!--             <span>

            </span> -->
          </div>
          <div class="card-link">
              <%= link_to boat_path(boat) do %>
              <p> Details and Booking </p>
              <% end  %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</ul>
<div class = "add-boat">
<%= link_to "Add new boat", new_boat_path %>

</div>
